<?xml version="1.0"?>
<launch>
  <arg name="robot_ip"              value="192.168.0.102" />
  <arg name="reverse_port"          value="50005"/>
  <arg name="script_sender_port"    value="50006"/>
  <arg name="trajectory_port"       value="50007"/>
  <arg name="script_command_port"   value="50008"/>
  <arg name="tf_prefix"             value="" />

  <arg name="controllers"           value="joint_state_controller scaled_pos_joint_traj_controller speed_scaling_state_controller force_torque_sensor_controller" />
  <arg name="stopped_controllers"   value="pos_joint_traj_controller joint_group_vel_controller" />
  
  <arg name="controller_config_file"   value="$(find ur_handler)/config/ur5_controllers.yaml" />
  <arg name="kinematics_config"        value="$(find ur_handler)/config/robot_calibration_ur5.yaml"/>

  <include file="$(find ur_robot_driver)/launch/ur5_bringup.launch" pass_all_args="true">
    <arg name="use_tool_communication" value="false"/>
  </include>


    <node pkg="tf" type="static_transform_publisher" name="world_tf_broadcaster" 
        args="0 -0.47 0 0 0 ${pi} world base_link 100" 
    />


  <include file= "$(find ur5_moveit_config)/launch/moveit_planning_execution.launch" />


  <include file= "$(find ur5_moveit_config)/launch/moveit_rviz.launch" >
    <arg name="config" value="$(find ur_handler)/config/rviz/ur5.rviz" />
  </include>



</launch>
