<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="my_work_cell">
  <!--Load the macro for creating a robot-->
  <xacro:include filename="$(find ur_description)/urdf/inc/ur5e_macro.xacro"/>

  <xacro:include filename="$(find ur_description)/urdf/inc/ur5_macro.xacro"/>

  <xacro:include filename="$(find robotiq_description)/urdf/robotiq_hande_gripper.urdf.xacro" />


  <!--Instanciate the robots-->
  <xacro:ur5e_robot prefix="leftarm_" kinematics_parameters_file="$(arg leftarm_kinematics)"/>
  <xacro:ur5_robot prefix="rightarm_" kinematics_parameters_file="$(arg rightarm_kinematics)" />



  <xacro:robotiq_hande_gripper prefix="leftarm_" parent="leftarm_tool0" >
    <origin xyz="0.0 0 0.005" rpy="0 0 0"/>
  </xacro:robotiq_hande_gripper>

  <xacro:robotiq_hande_gripper prefix="rightarm_" parent="rightarm_tool0" >
    <origin xyz="0.0 0 0.005" rpy="0 0 0"/>
  </xacro:robotiq_hande_gripper>

  



    <!-- DepthAI camera -->
    <xacro:include filename="$(find dual_ur_description)/urdf/depthai_macro.urdf.xacro"/>
    <xacro:depthai_camera camera_name   = "rightarm_oak" 
                          parent        = "rightarm_tool0" 
                          camera_model  = "OAK-D" 
                          base_frame    = "rightarm_oak_pippo" 
                          cam_pos_x     = "-0.0006004426092536933" 
                          cam_pos_y     = "0.04887178680619218"
                          cam_pos_z     = "0.0998277365493275"
                          cam_roll      = "-0.026754"
                          cam_pitch     = "0.000513" 
                          cam_yaw       = "-0.013296" />





  <!--common link where the tf tree originates from-->
  <link name="world"/>

  <!--Define the robot poses in the world-->
  <joint name="world_to_leftarm" type="fixed">
    <parent link="world" />
    <child link = "leftarm_base_link" />
    <origin xyz="0 -0.47 0" rpy="0 0 0" />
  </joint>


  <joint name="world_to_rightarm" type="fixed">
    <parent link="world" />
    <child link = "rightarm_base_link" />
    <origin xyz="0 0.47 0" rpy="0 0 ${pi}" />
  </joint>
</robot>
